.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

button {
  background-color: #4ECCA3;
  display: block;
  margin: auto;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 60px;
}

button:hover {
  transform: scale(1.2);
  background-color: rgb(251, 255, 2);
}

button:active {
  transform: scale(1.2);
  background-color: orange;
  box-shadow: inset 0px 0px 10px #393E46;
}


